<a href="{{ HREF }}" class="l2t-link" data-popup-id="{{ POPUP_ID }}">
  <span class="icon-stack">
    <i class="fa fa-square bg"></i>
    <i class="fa fa-link fg fa-inverse"></i>
  </span>
  {% if POST_SUBJECT is defined and POST_SUBJECT and POST_SUBJECT != TOPIC_TITLE %}
    {{ POST_SUBJECT|e }} in <strong>{{ TOPIC_TITLE|e }}</strong>
  {% else %}
    <strong>{{ TOPIC_TITLE|e }}</strong>
  {% endif %}
</a>

{% if TPL_VIEW_POPUP %}
  <div id="{{ POPUP_ID }}" class="l2t-hidden-popup" style="display: none;">
    {{ POPUP_HTML|raw }}
  </div>
{% endif %}
