<!-- INCLUDECSS @sebo_link2topicname/l2t_main.css -->
<!-- INCLUDEJS @sebo_link2topicname/view_popup.js -->
 <div class="l2t-popup-content" style="display: flex; gap: 1rem; align-items: flex-start;">
    {% if TPL_VIEW_AVATAR %}
        <div class="l2t-left" style="text-align: center;">
            {% if USER_AVATAR %}
                {{ USER_AVATAR }}
            {% endif %}

            {% if USER_RANK_TITLE or RANK_IMG_SRC %}
                <div class="profile-rank" style="margin-top: 0.5rem;">
                    {{ USER_RANK_TITLE }}
                    {% if USER_RANK_TITLE and RANK_IMG_SRC %}
                        <br />
                    {% endif %}
                    {% if RANK_IMG_SRC %}
                        <img src="{{ RANK_IMG_SRC }}" alt="{{ RANK_IMG_ALT|e }}" />
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="l2t-right">
        <p class="l2t-popup-text" style="margin: 0;">
            {% if POST_SUBJECT and POST_SUBJECT != TOPIC_TITLE %}
                {{ POST_SUBJECT }} in <strong>{{ TOPIC_TITLE }}</strong>
            {% else %}
                <strong>{{ TOPIC_TITLE }}</strong>
            {% endif %}
            
            {% if TPL_VIEW_FORUM and FORUM_NAME %}
                <small><em>{{ FORUM_NAME }}</em></small>
            {% endif %}

            {% if TPL_VIEW_USERNAME and USERNAME %}
                <br>di <span style="color:#{{ USER_COLOUR }}">{{ USERNAME }}</span> {{ USER_RANK }}
            {% endif %}
            
            {% if TPL_VIEW_TEXT and POST_EXCERPT %}
                <br><small>{{ POST_EXCERPT }}</small>
            {% endif %}
        </p>
    </div>
    <div class="l2t-popup-arrow"></div>
</div>
