{% include 'overall_header.html' %}

<h1>{{ lang('ACP_LINK2TOPICNAME_TITLE') }}</h1>

{% if S_ERROR %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p>{{ ERROR_MSG }}</p>
</div>
{% endif %}

<form id="sebo_LINK2TOPICNAME_acp" name="sebo_LINK2TOPICNAME_acp" method="post" action="{{ U_ACTION }}">
	
	<fieldset>
		<legend>{{ lang('PP_ME') }}</legend>
		<dl>
			<dt>
				<strong>{{ lang('PP_ME_EXT_DONATE') ~ lang('COLON') }}</strong><br><span>{{ lang('PP_ME_EXT_FIRST') }}<a href="https://www.paypal.com/donate/?hosted_button_id=GS3T9MFDJJGT4" target="_blank" rel="noreferrer noopener">{{ lang('PP_ME_EXT_OFFER') }}</a>{{ lang('PP_ME_EXT_THX') }}</span>
			</dt>
			<dd><img src="../ext/sebo/link2topicname/adm/style/wink_beer.png" width="32px" height="32px"> <a href="https://www.paypal.com/donate/?hosted_button_id=GS3T9MFDJJGT4" target="_blank" rel="noreferrer noopener"><img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypal-26px.png" alt="{{ lang('PP_ME_EXT_ALT') }}"></a></dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<strong>{{ lang('ACP_LINK2TOPICNAME_EXPLAIN_ADV') }}</strong><br>
		{{ lang('ACP_LINK2TOPICNAME_EXPLAIN') }}
		<ul>
			<li>{{ lang('ACP_LINK2TOPICNAME_EXPLAIN_POSTING') }} {{ lang('ACP_LINK2TOPICNAME_ARROW') }} {{ lang('ACP_LINK2TOPICNAME_EXPLAIN_MESSAGES') }} {{ lang('ACP_LINK2TOPICNAME_ARROW') }} {{ lang('ACP_LINK2TOPICNAME_EXPLAIN_WC') }}</li>
		</ul>
		{{ lang('ACP_LINK2TOPICNAME_EXPLAIN_FINAL') }}
	</fieldset>
	
	<fieldset>
		<legend>{{ lang('ACP_ENABLE_POPUP_TITLE') }}</legend>
		<dl>
			<dt><strong>{{ lang('ACP_LINK2TOPICNAME_ENABLE_POPUP_REQ') ~ lang('COLON') }}</strong></dt>
			<dd>
				<label for="view_popup_1">
					<input type="radio" class="radio" name="view_popup" id="view_popup_1" value="1" {% if tpl_view_popup %}checked="checked"{% endif %} />
					{{ lang('YES') }}
				</label>
				<label for="view_popup_0">
					<input type="radio" class="radio" name="view_popup" id="view_popup_0" value="0" {% if not tpl_view_popup %}checked="checked"{% endif %} />
					{{ lang('NO') }}
				</label>
			</dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<legend>{{ lang('ACP_SETTINGS_TITLE') }}</legend>

		<dl>
			<dt><strong>{{ lang('ACP_LINK2TOPICNAME_VIEW_USERNAME') }}</strong></dt>
			<dd>
				<label for="view_username_1">
					<input type="radio" class="radio" name="view_username" id="view_username_1" value="1" {% if tpl_view_username %}checked="checked"{% endif %} />
					{{ lang('YES') }}
				</label>
				<label for="view_username_0">
					<input type="radio" class="radio" name="view_username" id="view_username_0" value="0" {% if not tpl_view_username %}checked="checked"{% endif %} />
					{{ lang('NO') }}
				</label>
			</dd>
		</dl>

		<dl>
			<dt><strong>{{ lang('ACP_LINK2TOPICNAME_VIEW_FORUM') }}</strong></dt>
			<dd>
				<label for="view_forum_1">
					<input type="radio" class="radio" name="view_forum" id="view_forum_1" value="1" {% if tpl_view_forum %}checked="checked"{% endif %} />
					{{ lang('YES') }}
				</label>
				<label for="view_forum_0">
					<input type="radio" class="radio" name="view_forum" id="view_forum_0" value="0" {% if not tpl_view_forum %}checked="checked"{% endif %} />
					{{ lang('NO') }}
				</label>
			</dd>
		</dl>

		<dl>
			<dt><strong>{{ lang('ACP_LINK2TOPICNAME_VIEW_AVATAR') }}</strong></dt>
			<dd>
				<label for="view_avatar_1">
					<input type="radio" class="radio" name="view_avatar" id="view_avatar_1" value="1" {% if tpl_view_avatar %}checked="checked"{% endif %} />
					{{ lang('YES') }}
				</label>
				<label for="view_avatar_0">
					<input type="radio" class="radio" name="view_avatar" id="view_avatar_0" value="0" {% if not tpl_view_avatar %}checked="checked"{% endif %} />
					{{ lang('NO') }}
				</label>
			</dd>
		</dl>

		<dl>
			<dt><strong>{{ lang('ACP_LINK2TOPICNAME_VIEW_TEXT') }}</strong></dt>
			<dd>
				<label for="view_text_1">
					<input type="radio" class="radio" name="view_text" id="view_text_1" value="1" {% if tpl_view_text %}checked="checked"{% endif %} />
					{{ lang('YES') }}
				</label>
				<label for="view_text_0">
					<input type="radio" class="radio" name="view_text" id="view_text_0" value="0" {% if not tpl_view_text %}checked="checked"{% endif %} />
					{{ lang('NO') }}
				</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="car_length"><strong>{{ lang('ACP_LINK2TOPICNAME_CAR_LENGTH') ~ lang('COLON') }}</strong></label></dt>
			<dd>
				<input type="text" name="car_length" id="car_length" value="{{ tpl_car_length }}" />
			</dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
