.l2t-popup-global {
  position: absolute;
  display: none;
  max-width: 450px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 9999;
  font-size: 14px;
  color: #333;
  overflow-wrap: break-word;  /* spezza parole troppo lunghe */
  word-wrap: break-word;      /* compatibilità */
  white-space: normal;        /* fa andare a capo */
  box-sizing: border-box;     /* considera padding e bordo nel calcolo larghezza */
}
@media (max-width: 450px) {
    .l2t-popup-global {
        max-width: 390px;
    }
}

.l2t-popup-global p,
.l2t-popup-global small,
.l2t-popup-global span {
  word-break: break-word;  /* forza la rottura */
  overflow-wrap: break-word;
  white-space: normal;
}

.l2t-popup-global.arrow-up::before,
.l2t-popup-global.arrow-down::before {
  content: "";
  position: absolute;
  bottom: 100%; /* per arrow-up */
  top: 100%;    /* per arrow-down */
  left: var(--arrow-left, 20px); /* posizione dinamica */
  border: 8px solid transparent;
  filter: drop-shadow(0 -1px 1px rgba(0,0,0,0.1));
}

.l2t-popup-global.arrow-up::before {
  border-bottom-color: #fff;
  bottom: 100%;
  top: auto;
}

.l2t-popup-global.arrow-down::before {
  border-top-color: #fff;
  top: 100%;
  bottom: auto;
}

/* icon FA */
.icon-stack {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.icon-stack .bg {
    font-size: 1.2em;
    position: absolute;
    top: 0;
    left: 0;
}

.icon-stack .fg {
    font-size: 0.7em; /* o quanto ti serve */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}